.screen{
    display:flex;
    width:99.5%;
    height:7.5rem;
    border: 1px solid black;
    background-color: rgb(73, 73, 73); 
}
.screen p{
    display: flex;
    margin: auto 1rem auto auto; 
    font-size:5rem;   
    color:white;
}